<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="dashboard pundefined">Dashboard </h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="acount" class="linkDash">
                                        <img alt src="/img/dashboard/icon-48-user.png" />
                                        <span style="display: block;">Quản lí người dùng</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="sanpham" class="linkDash">
                                        <img alt src="/img/dashboard/Book2_icon_green.png" />
                                        <span style="display: block;">Quản lý sách</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="theloai" class="linkDash">
                                        <img alt src="/img/dashboard/category_736950.png" />
                                        <span style="display: block;">Quản lí thể loại</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="nxb" class="linkDash">
                                        <img alt src="/img/dashboard/Office_Building-512.png" />
                                        <span style="display: block;">Quản lí nhà xuất bản</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="don-hang" class="linkDash">
                                        <img alt src="/img/dashboard/icon-48-study.png" />
                                        <span style="display: block;">Quản lí đơn hàng</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>